.u-flex {
  display: flex; }

.u-flex-jc-sb {
  justify-content: space-between; }

.u-flex-ai-c {
  align-items: center; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #a7abae; }

.heading-primary {
  text-transform: uppercase;
  color: white;
  font-family: "Fraunces", sans-serif;
  font-size: 5.5rem;
  font-weight: 900;
  letter-spacing: 1rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Fraunces", sans-serif;
  font-weight: 900; }

.btn--bordered {
  padding: 1.9rem 3rem;
  border-radius: 4rem; }

.btn--white {
  background-color: white;
  color: #23303e; }

.header {
  background-image: url("../../images/desktop/image-header.jpg");
  width: 100%;
  height: 100vh;
  background-position: top;
  background-size: cover; }
  .header__nav {
    padding: 4.5rem 3.9rem; }
  .header__logo-box {
    width: 17.2rem; }
  .header__logo {
    width: 100%; }
  .header__menu {
    list-style: none; }
    .header__menu li {
      display: inline-block; }
      .header__menu li:not(:last-child) {
        margin-right: 5.1rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    font-weight: 300;
    color: white; }
  .header__heading {
    text-align: center;
    margin-top: 9.6rem; }
  .header__arrow {
    margin-top: 10.5rem; }
