html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #a7abae; }
