.footer {
    background-color: $color-cyan-dark-mod;
    position: relative;
    height: 35rem;
    color: rgba($color-cyan-dark-desat, 0.6);

    &__logo {
        width: 17rem;
        display: inline-block;
    }

    &__content {
        position: absolute;
        width: 29.5rem;
        left: 50%;
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);

    }

    ul {
        width: 100%;
        list-style: none;
    }

    ul>li>a {
        text-decoration: none;
        transition: all .2s;

        &:link,
        &:visited {
            color: currentColor;
        }

        &:hover {
            color: $color-white;
        }
    }



    &__logos {
        width: 17rem;
        margin: auto;
        transition: all .2s;

        a {
            display: inline-block;
            cursor: pointer;

            svg path {
                transition: fill .2s;
            }

            &:hover svg path {
                fill: $color-white;
            }
        }
    }
}