// COLORS
$color-red-soft: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);
$color-blue-dark: hsl(198, 62%, 26%);
$color-cyan-dark-desat: hsl(167, 40%, 24%);
$color-cyan-dark-mod: hsl(168, 49%, 63%);

$color-blue-dark-desat: hsl(212, 27%, 19%);
$color-gray-blue-dark: hsl(213, 9%, 39%);
$color-gray-blue: hsl(232, 10%, 55%);
$color-gray-blue-light: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);

// FONTS
$font-primary: 'Barlow', sans-serif;
$font-display: 'Fraunces', sans-serif;

$default-font-size: 1.8rem;