body {
    font-family: $font-primary;
    font-weight: 600;
    font-size: $default-font-size;
    line-height: 1.3;
    color: $color-gray-blue-light;
}

.heading-primary {
    text-transform: uppercase;
    color: $color-white;
    font-family: $font-display;
    font-size: 5.5rem;
    font-weight: 900;
    letter-spacing: 1rem;

    @include respond(phone) {
        font-size: 3.9rem;
        letter-spacing: 0.7rem;
    }
}

.heading-secondary {
    color: $color-blue-dark-desat;
    font-family: $font-display;
    font-size: 3.8rem;
    font-weight: 900;
    letter-spacing: 0rem;
}

.heading-tertiary { 
    font-family: $font-display;
    font-weight: 900;
    font-size: 2.7rem;
}

.heading-quaternary {
    text-transform: uppercase;
    font-family: $font-display;
}

.paragraph {
    line-height: 1.6;
}
