.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 60rem);

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__text-container {
         padding: 0 23%;

         &--left {
            padding-right: 16%;
         }

         &--right {
            padding-left: 16%;
        }
    }

    &__comp {
        background-position: top center;
        background-size: cover;

        &--left {
            background-image: url('../../images/desktop/image-graphic-design.jpg');
            color: $color-cyan-dark-desat;
        }

        &--right {
            background-image: url('../../images/desktop/image-photography.jpg');
            color: $color-blue-dark;
        }
        
        .text-container {
            min-width: 35rem;
            max-width: 48%;
            margin: auto;
            margin-top: 40rem;
            text-align: center;
            

            p {
                font-size: 1.6rem;
            }
        }
    }
}